body {
    background-color: blanchedalmond;
    background-image: url(../img/NakedMikeLeigh.jpg);
    margin:0;
    
    
}

h1 {
    font: century-gothic, sans-serif;
    font-weight: 500;
    font-style: bold;

    border-style: solid;
    border-width: 1px;
    align-items: right;

    width : fit-content ;
    background-image: url(../img/Rothko.jpg);
    

}

body p {
    background-image : url(../img/Rothko.jpg);
    width: 50%;
}

.recs-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    float: right;
    border: 1px solid black;

    width: 300px;
    background-image: url(../img/Rothko.jpg);
}

.song-of-the-week {
    
    

}

#song-caption{
    
    justify-content: center;
    align-items: center;
}

.movie-of-the-week {
}

#movie-caption{
    justify-content: center;
    align-items: center;
}

p {
    font-size: 20px;
}

.container {
    overflow:hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container a{
    text-align: center;
    display: inline-block;

    border : 1px solid;
    width : 200px;
    
    
}
.container button:hover {
    background-color: black;
}

.btn {
    position : relative;
    background-image: url(../img/Rothko.jpg);
    width: 10rem;
    padding: 1rem;
    border: none;
    outline: none;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.btn::after {
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    content: '';
    height: 0.164rem;
    background: midnightblue;
}


/*Lessons 2023/10/27 -- rem (size of root element font) and selectors, existence of "after" selector. */
.btn-secrets {
    cursor : not-allowed;
}
.btn::after {
    transform: scale(0,1);
    transition: transform .4s ease;
}
.btn:hover::after {
    transform: scale(1,1);
}

.news{
    width: 50%;
}

#news-list{
    background-image: url(../img/Rothko.jpg);
}

.log {
    width: 50%;
}
#log-list {
    background-image: url(../img/Rothko.jpg);
    border-color:1px black;
}


footer {
    background-image: url(../img/Rothko.jpg);
    border-color: black;
    position: fixed;
    bottom: 0px;
    width:fit-content
}